.modal-big-screen {
    width: calc(100% - 274px);
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    height: 100%;
    background-color: #f7ebe4;
    backdrop-filter: blur(3px);
    z-index: 5;
    transition: .3s;
    &.open{
        opacity: 1;
        right: 0;
    }
    
}
    