// @use "@/styles/variables";

.text-view{
    padding: 48px 0 24px;
}
.content, .content p {
    
        font-size: 18px;
        line-height: 1.75;
        // font-family: variables.$text-font;
    
}

.comment{
    width: 100%;
    max-width: 320px;
    background-color: rgba(123, 133, 123, .3);
    border: 1px solid #7b857b;
    border-radius: 6px;
    position: fixed;
    right: -30%;
}